<h2>Edit Income</h2>

<%= render "form.html", Map.put(assigns, :action, balance_income_path(@conn, :update, @balance, @income)) %>

<%= link "Back", to: balance_path(@conn, :show, @balance), class: "btn btn-secondary btn-sm" %>
