<h2>New Income</h2>

<%= render "form.html", Map.put(assigns, :action, balance_income_path(@conn, :create, @balance)) %>

<%= link "Back", to: balance_path(@conn, :index), class: "btn btn-secondary btn-sm" %>
