<h2>Edit Bill</h2>

<%= render "form.html", Map.put(assigns, :action, balance_bill_path(@conn, :update, @balance, @bill)) %>

<span><%= link "Back", to: balance_path(@conn, :show, @balance) %></span>
