<h2>Edit Bill</h2>

<%= render "form.html", Map.put(assigns, :action, budget_bill_path(@conn, :update, @budget, @bill)) %>

<%= link "Back", to: budget_path(@conn, :show, @budget), class: "btn btn-secondary btn-sm" %>
