<h2>New Bill</h2>

<%= render "form.html", Map.put(assigns, :action, balance_bill_path(@conn, :create, @balance)) %>

<%= link "Back", to: balance_path(@conn, :show, @balance), class: "btn btn-secondary btn-sm"%>
