<h2>New Bill</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.budget_bill_path(@conn, :create, @budget)) %>

<%= link "Back", to: Routes.budget_path(@conn, :show, @budget), class: "btn btn-secondary btn-sm"%>
