<h2>Edit Budget</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.budget_path(@conn, :update, @budget)) %>

<%= link "Back", to: Routes.budget_path(@conn, :index),class: "btn btn-secondary btn-sm" %>
