<h2>New transaction</h2>

<%= render "form.html", Map.put(assigns, :action, saving_transaction_path(@conn, :create, @saving)) %>

<span><%= link "Back", to: saving_path(@conn, :show, @saving) %></span>
