<h2>Edit Bill category</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.bill_category_path(@conn, :update, @bill_category)) %>

<span><%= link "Back", to: Routes.bill_category_path(@conn, :index) %></span>
