<h2>New Expense category</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.expense_category_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.expense_category_path(@conn, :index) %></span>
