<h2>Edit Expense category budget</h2>

<%= render "form.html", Map.put(assigns, :action, budget_expense_budget_path(@conn, :update, @budget, @expense_budget)) %>

<span><%= link "Back", to: budget_path(@conn, :show, @budget) %></span>
