<h2>Edit Savings category</h2>

<%= render "form.html", Map.put(assigns, :action, savings_category_path(@conn, :update, @savings_category)) %>

<span><%= link "Back", to: savings_category_path(@conn, :index) %></span>
